@page
@model RePlash.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo.NumViews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo.NumViews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo.numDownloads)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo.numDownloads)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Photo.PhotoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
